<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfm.shop.system.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.kfm.shop.system.model.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="permissionCode" column="permission_code" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="orderNum" column="order_num" javaType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,permission_code,
        parent_id,url,type,order_num,
        create_time,update_time
    </sql>
    <select id="selectMenusWithRoleIds" resultType="com.kfm.shop.system.model.Menu">
        select t2.*
        from sys_role_menu t1
        inner join sys_menu t2 on t1.menu_id = t2.id
        where t1.role_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

        order by t2.parent_id, t2.order_num
    </select>
</mapper>
